.page[b-nc0nt7smlf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.musersheader[b-nc0nt7smlf] {
    color: #2A5496;
    -webkit-text-stroke: 1px #2A5496;
    letter-spacing: -1.5px;
    font-family: 'Bodoni Moda';
    text-shadow: 0 3.5px 4px #838585;
    font-size: 55px;
    padding-left: 25px;
}

main[b-nc0nt7smlf] {
    flex: 1;
}

.sidebar[b-nc0nt7smlf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nc0nt7smlf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nc0nt7smlf]  a, .top-row[b-nc0nt7smlf]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nc0nt7smlf]  a:hover, .top-row[b-nc0nt7smlf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nc0nt7smlf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-nc0nt7smlf] {
        justify-content: space-between;
    }

    .top-row[b-nc0nt7smlf]  a, .top-row[b-nc0nt7smlf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nc0nt7smlf] {
        flex-direction: row;
    }

    .sidebar[b-nc0nt7smlf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nc0nt7smlf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nc0nt7smlf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nc0nt7smlf], article[b-nc0nt7smlf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
