@inherits LayoutComponentBase

<PageTitle>musers.</PageTitle>
<h1 class="theheader">
    <div class="muserstext">musers.</div>
    @* <div class="icon-container">
        <span class="material-symbols-outlined">add</span>
        <span class="material-symbols-outlined">menu</span>
    </div> *@
</h1>
<div class="page">
    @Body
</div>
