.icon-container {
    display: flex;
    /* top: -40; */
    right: 0;
    gap: 15px;
    padding: 25px 30px 27px 500px;
    position: fixed;
    background-color: #F2EDE1;
    z-index: 90;
}

.main-icon {
    color: #2A5496;
    font-size: 30px; 
    cursor: pointer;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 30px 15px;
    margin-top: 80px;
    overflow-x: hidden;
    z-index: 3;
}

.post-container.results {
    margin-top: 35px;
}

.loading {
    padding-top: 30vh;
    justify-self: center;
    color: #2A5496;
    -webkit-text-stroke: 1px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 35px;
    animation: fade-in 2s;
    width: 100vw;
    text-align: center;
}

.loading.pending {
    padding-top: 20vh;
    font-size: 30px;
    -webkit-text-stroke: 0.6px #2A5496;
    width: 70vw;
}

.loading.results {
    padding: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.post-box {
    background-color: #F7F4EB;
    /* border: 1px solid #ddd; */
    border-radius: 20px;
    padding: 5px 15px 0 15px;
    box-shadow: 0 4px 6px rgba(42, 84, 150, 0.1);
    transition: transform 0.2s;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    height: 250px; 
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    color: #2A5496;
    -webkit-text-stroke: 0.5px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 22px;
}

.timestamp {
    padding-top: 10px;
    color: #73706A;
    -webkit-text-stroke: 0.25px #73706A;
    font-family: 'Bodoni Moda';
    font-size: 15px;
}

.timestamp.details {
    margin-right: 15px;
}

.content {
    color: #73706A;
    -webkit-text-stroke: 0.25px #73706A;
    font-family: 'Bodoni Moda';
    font-size: 18px;
    padding: 10px 0 35px 0;
    max-width: calc(inherit - 5px);
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 4; /* Adjust this number to control how many lines are shown */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: auto;
}

.see-more {
    color:#2A5496;
    -webkit-text-stroke: 0.25px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 10;
    padding: 25px 70% 3px 0 ;
    background-color: #F7F4EB;
}

.post-box:hover {
    transform: translateY(-5px); 
}

.popup-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #F2EDE1;
    align-items: center;
    justify-content: center;
    grid-column: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-container {
    padding: 80px 0;
}

.details-container {
    background-color: #F7F4EB;
    height: auto;
    border-radius: 20px;
    padding: 5px 0 0 15px;
    margin: 20px;
    margin-top: 5vh;
    width: 90vw;
    max-width: 700px;
    justify-self: center;
}

.author-input {
    background: none; 
    border: none; 
    outline: none;
    color: #2A5496;
    -webkit-text-stroke: 0.5px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 25px;
    padding: 0;
}

.author-input::placeholder {
    color: #2A5496; 
    -webkit-text-stroke: 0.5px #2A5496; 
    opacity: 0.7;
}

.content-input {
    background: none; 
    border: none; 
    outline: none;
    color: #73706A;
    -webkit-text-stroke: 0.25px #73706A;
    font-family: 'Bodoni Moda';
    font-size: 20px; 
    padding-top: 20px;
    width: calc(100% - 15px);
    max-width: 650px;
    padding-bottom: 20px;
}

.content-input.create{
    height: 26vh;
    max-height: 250px;
}

.content-input::placeholder {
    -webkit-text-stroke: 0.3px #73706A; 
    opacity: 0.7;
}

.submit {
    color:#2A5496;
    -webkit-text-stroke: 0.3px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    padding-bottom: 15px;
    justify-self: end;
}

.submit.search {
    justify-self: center;
    margin-right: 0;
}

.counter-container {
    display: grid;
    justify-items: center;
}

.char-count {
    justify-self: center;
    font-family: 'Bodoni Moda';
    color: #a8325e;
    font-size: 18px;
}

.close-container {
    display: flex;
    top: 0;
    right: 0;
    gap: 15px;
    padding: 25px 30px 27px 500px;
    position: fixed;
    background-color: #F2EDE1;
    z-index: 90;
}

.close-button {
    top: 25px;
    right: 30px;
    color: #2A5496;
    font-size: 30px; 
    cursor: pointer;
    background-color: #F2EDE1;
    z-index: 90;
}

.menu-container {
    justify-items: center;
    display: grid;
    place-items: center;
    width: fit-content;
    gap: 10px;
    margin: 17vh auto 0 auto;
}

.menu-items {
    color: #2A5496;
    -webkit-text-stroke: 1px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 35px;
    cursor: pointer;
}

.search-post {
    color: #2A5496;
    -webkit-text-stroke: 1px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 35px;
    justify-self: center;
    align-self: center;
    width: max-content;
    margin-top: 5vh;
}

.searchbar {
    color:#73706A;
    -webkit-text-stroke: 0.5px #73706A;
    font-family: 'Bodoni Moda';
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    width: 270px;
    text-align: center;
    background-color: #F7F4EB;
    border-color: transparent;
}

.searchbar::placeholder {
    opacity: 0.4;
}

.searchtext {
    position: fixed;
    background-color: #F2EDE1;
    padding: 5px 0 10px 30px;
    color: #2A5496;
    -webkit-text-stroke: 0.6px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 35px;
    z-index: 100;
    transform: translateY(-5px);
    width: 100vw;
    text-align: start;
}

.chahers-pending {
    position: fixed;
    color: #73706A;
    -webkit-text-stroke: 0.2px #73706A;
    font-family: 'Bodoni Moda';
    text-align: left;
    width: 100vw;
    font-size: 18px;
    margin-left: 30px;
    transform: translateY(-10px);
    text-shadow: 0 1px 2px #838585;
}

.about {
    padding: 12vh 40px 0 40px;
    justify-self: center;
    color: #2A5496;
    -webkit-text-stroke: 0.5px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 25px;
    animation: fade-in 2s;
    width: 100vw;
    text-align: left;
}

.about.guide {
    padding-top: 15vh;
}

body.no-scroll {
    overflow: hidden;
}

@font-face {
    font-family: 'Bodoni Moda';
    src: url('../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
}

@media (max-width: 641px) {
    .icon-container {
        padding-top: 55px;
        padding-bottom: 32px;
    }
    .post-container {
        grid-template-columns: 1fr;
        margin-top: 100px;
        padding: 30px 0;
    }
    .post-container.results {
        margin-top: 40px;
    }
    .post-box:hover {
        transform: none; 
    }
    .post-box {
        width: 90%;
    }
    .see-more {
        padding: 25px 74% 3px 0 ;
    }
    .popup-container {
        padding: 110px 0;
    }
    .close-container{
        padding: 57px 30px 30px 500px;
    }
    .close-button {
        top: 55px;
    }
    .create-container{
        width: 90vw;
    }
    .content-input.create{
        height: 70vw;
    }
    .searchtext{
        transform: none;
    }
    .chahers-pending {
        transform: translateY(-5px);
    }
    .about {
        font-size: 22px;
    }
}