@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="returnToMenu">close</div>
</div>
<p class="chahers-pending">by chahers.</p>
<h2 class="about">
    confess your love.<br>
    let out the anger in your chest.<br>
    express your grief.<br><br>
    Whether you choose to write anonymously or attach your name to your posts, your voice will be seen and valued on our main page. Embrace this platform as a sanctuary to be yourself and let your thoughts flow unfiltered. Every story, every emotion, every word matters.
</h2>

@code {
    [Parameter] public EventCallback returnToMenu { get; set; }
}