@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="ClosePopup">close</div>
</div>
<h2 class="loading">coming soon.</h2>

@code {
    [Parameter] public EventCallback ClosePopup { get; set; }
}