@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="ClosePopup">close</div>
</div>
<h2 class="about guide">
    i'd love to hear from you!<br>
    got a question, feedback, or just want to chat about the app? feel free to reach out!<br><br>
</h2>
<div class="contact-container">
    <a href="mailto:mishaaisyah30@yahoo.com">email</a><br>
    <a href="https://www.instagram.com/chahers" target="_blank">instagram</a><br>
    <a href="https://www.linkedin.com/in/misha-aisyah-mokhdhari-5055b7264/" target="_blank">linkedin</a><br>
</div>

@code {
    [Parameter] public EventCallback ClosePopup { get; set; }
}