@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="returnToMenu">close</div>
</div>
<div class="menu-container">
    <h3 class="menu-items" @onclick="() => OpenPopup?.Invoke(PopupType.AppGuide)">app guide.</h3>
    <h3 class="menu-items" @onclick="() => OpenPopup?.Invoke(PopupType.ContactUs)">contact us.</h3>
</div>

@code {
    [Parameter] public EventCallback returnToMenu { get; set; }
    [Parameter] public Action<PopupType>? OpenPopup { get; set; }
}