@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="returnToMenu">close</div>
</div>
<div class="menu-container">
    <h3 class="menu-items">app guide.</h3>
    <h3 class="menu-items">contact us.</h3>
</div>

@code {
    [Parameter] public EventCallback returnToMenu { get; set; }
}