@using myBlazorApp.Models

<div class="close-container">
    <div class="material-symbols-outlined close-button" @onclick="returnToMenu">close</div>
</div>

@code {
    [Parameter] public EventCallback returnToMenu { get; set; }
}