@page "/main"
@layout LogoHeader

<link href="MainPage.razor.css" rel="stylesheet" />
<div class="icon-container">
    <span class="material-symbols-outlined">add</span>
    <span class="material-symbols-outlined">menu</span>
</div>