.icon-container {
    display: flex;
    top: -50;
    right: 0;
    gap: 15px;
    padding: 30px;
    position: fixed;
}

.material-symbols-outlined {
    color: #2A5496;
    font-size: 30px; 
    cursor: pointer;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 30px 15px;
    margin-top: 60px;
    overflow-x: hidden;
}

.loading {
    padding-top: 30vh;
    justify-self: center;
    color: #2A5496;
    -webkit-text-stroke: 1px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 35px;
    animation: fade-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.post-box {
    background-color: #F7F4EB;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 5px 15px 0 15px;
    box-shadow: 0 4px 6px rgba(42, 84, 150, 0.1);
    transition: transform 0.2s;
    margin: 0 auto;
    width: 100%;
}

.name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #2A5496;
    -webkit-text-stroke: 0.3px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 22px;
}

.timestamp {
    padding-top: 5px;
    color: #73706A;
    font-family: 'Bodoni Moda';
    font-size: 15px;
}

.content {
    color: #73706A;
    font-family: 'Bodoni Moda';
    font-size: 18px;
    padding-top: 10px;
    max-width: inherit;
}

.see-more {
    color:#2A5496;
    -webkit-text-stroke: 0.25px #2A5496;
    font-family: 'Bodoni Moda';
    font-size: 15px;
    cursor: pointer;
    width: 70px;
}

.post-box:hover {
    transform: translateY(-5px); 
}

@media (max-width: 641px) {
    .icon-container {
        padding-top: 70px;
    }
    .post-container {
        grid-template-columns: 1fr;
        margin-top: 100px;
        padding: 30px 0;
    }
    .post-box:hover {
        transform: none; 
    }
    .post-box {
        width: 90%;
    }
}