@using myBlazorApp.Models

<div class="material-symbols-outlined close-button" @onclick="returnToMenu">close</div>
<div class="menu-container">
    <span class="search-post">search posts.</span>
    <input class="searchbar" type="text" placeholder="type here."/>
    <span class="submit">submit.</span>
</div>

@code {
    [Parameter] public EventCallback returnToMenu { get; set; }
}